body {
	background-color: #c2feeb;
	font-family: "courier new";
}

.imgheader {
	margin: 20px;
	width: 200px;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.header {
	font-size: 170%;
	font-weight: bold;
	text-align: center;
}

.header2 {
	font-size: 100%;
	font-weight: bold;
	text-align: center;
}

.text1 {
	color: black;
	margin-left: 20px;
	margin-right: 20px;
}

.foot {
	text-align: center;
	font-weight: bold;
	color: #e60073;
}

.inline-img {
	display: block;
	margin: 10px;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
}

.text-link {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

.footnote {
	font-size: 12px;
	float: right;
	font-weight: bold;
}

@media only screen and (min-width: 768px) {
	.inline-img {
		display: inline-block;
		float: left;
		margin: 20px;
	}
	.text-div1 {
		margin-right: 20px;
		margin-top: 30px;
		margin-bottom: 50px;
	}
}